/* colors: f4f4f4, orange ff9d72, yellow ffd66b, 654062*/

/* Index.html */

/* Nav */
// providing a name for the nav modal icons
.visually-hidden {
  /* Contain text within 1px box */
  height: 1px;
  overflow: hidden;
  width: 1px;
  /* Keep the layout */
  position: absolute;
  /* Remove any visible trace (e.g. background color) */
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%); /* browsers in the future */
  /* Prevent the screen reader to skip spaces between words */
  white-space: nowrap;
}

#navFlexColumn {
  display: flex;
  justify-content: space-evenly;
}

#navModal {
  display: flex;
  flex-direction: column;

  background-image: linear-gradient(
    180deg,
    rgba(68, 68, 68, 1),
    rgba(68, 68, 68, 0.9),
    rgba(68, 68, 68, 0.8),
    rgba(68, 68, 68, 0)
  );

  position: fixed;
  width: 100%;
  z-index: 2;
  top: 0;
  padding-top: 5px;
  a {
    color: $heading-icon-color;
    margin-top: 5px;
    display: inline-block;
    text-decoration: none;
    font-size: 18px;

    &:hover {
      color: $anchor-hover;
      text-decoration: underline;
    }
  }

  h2 {
    letter-spacing: 1.2px;
    font-size: 28px;
    margin: 0 auto;
    font-family: $h2-font;
    -webkit-text-stroke: 0.1px #000;
  }

  button {
    border: none;
    color: #000;
    background-color: $bkg-color-transparent;

    &:hover {
      color: $anchor-hover;
    }

    .fas,
    .fab {
      font-size: $heading-icon-size;
      background-color: $bkg-color-transparent;
    }
  }

  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 80px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  }

  /* Modal Content */
  .modal-content {
    background-color: rgba(0, 0, 0, 0.6);
    margin: 0 auto;
    padding: 20px 25px;
    border: none;
    width: 100%;
    text-align: justify;
    h2 {
      font-family: $h2-font;
      color: $heading-icon-color;
    }
    form {
      text-align: left;
      border: 1px solid #ffd66b;
      border-radius: 2px;
      padding: 10px 5px 5px;
      input[type="text"] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
      }
      input[type="email"] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
      }
      textarea {
        width: 100%;
        height: 50px;
        padding: 12px 20px;
      }
      button {
        color: #444;
        background: #ffd66b;
        border: none;
        border-radius: 2px;
        padding: 5px 20px;
        margin: 8px 0;
      }
    }
  }

  /* The Close Button */
  .close {
    color: $heading-icon-color;
    float: right;
    font-size: 28px;
    font-weight: bold;

    &:hover,
    &:focus {
      color: $anchor-hover;
      text-decoration: none;
      cursor: $cursor-pointer;
    }
  }

  .modal-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    .fab,
    .fas {
      font-size: $heading-icon-size;
      color: $heading-icon-color;
      padding: 5px;
      margin: 2px;
      border-radius: 5px;
    }
  }
}

/* Header */
#landing {
  margin: 80px 0 60px 0;

  img {
    border-radius: 100%;
    width: 200px;
    border: 3px solid $bkg-color;
    box-shadow: 0 0 50px 3px $box-shadows;
    margin-top: 65px;
  }
  h4 {
    font-style: italic;
    font-size: 1.5em;
    margin: 0;
  }
  a {
    display: block;
    color: $anchor-color;
    text-decoration: none;
    font-size: 1.5em;

    &:hover {
      color: $anchor-hover;
      text-decoration: underline;
    }
    &:focus {
      color: $anchor-color;
    }
  }
}

/* main */
main {
  margin: 120px 40px 0;
}

/* project images */
#projectImages {
  img {
    width: 100%;
    border: 1px solid #ffd66b;
    &:hover {
      box-shadow: 5px 5px 5px #ffd66b;
    }
  }
  h4 {
    position: relative;
    color: #ffd66b;
    font-family: $h2-font;
    font-size: 1.4em;
    margin: 0 auto;
    padding: 2px 0;
    border-top: 1px solid #ffd66b;
  }
  div {
    padding-bottom: 50px;
    section {
      font-size: 1.2em;
      display: flex;
      justify-content: space-evenly;
      margin: 5px 0 10px;
    }
  }
}

/* Footer */
footer {
  margin: 50px 0 0 0;
  p {
    font-size: 1em;
    margin: 0 0 10px 0;
    a {
      color: $anchor-color;
      text-decoration: none;

      &:hover {
        color: $anchor-hover;
        text-decoration: underline;
      }
      &:focus {
        color: $anchor-color;
      }
    }
  }
}
