/* colors: background gray 444444, offwhite f4f4f4, orange ff9d72, yellow ffd66b, 654062*/

$bkg-color: #444444;
$bkg-color-transparent: transparent;
$h4-color: #444444;
$font-icon-color: #f4f4f4;
$heading-icon-size: 50px;
$h2-font: "Permanent Marker", cursive;
$heading-icon-color: #ffd66b;
$box-shadows: #ffd66b;
$anchor-color: #ffd66b;
$anchor-hover: #ff9d72;
$cursor-pointer: pointer;
