/* colors: f4f4f4, orange ff9d72, yellow ffd66b, 654062*/
* {
  box-sizing: border-box;
}

body {
  color: #f4f4f4;
  background-color: #444444;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

/* Header */
#landing {
  margin-bottom: 60px;
}
#landing img {
  border-radius: 100%;
  width: 200px;
  border: 3px solid #444444;
  box-shadow: 0 0 50px 3px #ffd66b;
  margin-top: 35px;
}
#landing h2 {
  letter-spacing: 1.5px;
  font-size: 24px;
  margin-bottom: 0;
}
#landing h4 {
  font-style: italic;
  font-size: 24px;
  margin: 0;
}
#landing a {
  display: block;
  color: #ffd66b;
  text-decoration: none;
  font-size: 30px;
}
#landing a:hover {
  color: #ff9d72;
}

/* Body */
/* landing images projects */
#landingImages h4 {
  position: absolute;
  left: 0;
  right: 0;
  color: #444444;
  background-color: rgba(250, 250, 250, 0.9);
  border: none;
  padding: 5px 10px;
  box-shadow: 0 0 10px 3px #ffd66b;
}
#landingImages img {
  width: 100%;
}
#landingImages div {
  padding-bottom: 50px;
}

/* 
Nav 
*/
#navModal {
  background-color: transparent;
  /* The Modal (background) */
  /* Modal Content */
  /* The Close Button */
}
#navModal a {
  color: #ffd66b;
  margin-top: 20px;
}
#navModal a:hover {
  color: #ff9d72;
}
#navModal button {
  border: none;
  color: #f4f4f4;
  background-color: transparent;
}
#navModal button :hover {
  color: #ffd66b;
}
#navModal button .fas,
#navModal button .fab {
  font-size: 50px;
  background-color: transparent;
}
#navModal .modal {
  display: none;
  /* Hidden by default */
  position: absolute;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 80px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}
#navModal .modal-content {
  background-color: rgba(0, 0, 0, 0.6);
  margin: 0 auto;
  padding: 20px 25px;
  border: none;
  width: 100%;
}
#navModal .modal-content h2,
#navModal .modal-content p {
  text-align: justify;
}
#navModal .close {
  color: #ffd66b;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
#navModal .close:hover,
#navModal .close:focus {
  color: #ff9d72;
  text-decoration: none;
  cursor: pointer;
}
#navModal .modal-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
#navModal .modal-content .fab,
#navModal .modal-content .fas {
  font-size: 50px;
  color: #ffd66b;
  background-color: #444444;
  padding: 5px;
  margin: 2px;
  border-radius: 5px;
}

/* 
Footer 
*/
footer {
  margin: 50px 0 0 0;
}
footer p {
  font-size: 1em;
  margin: 0 0 10px 0;
}
footer p a {
  color: #f4f4f4;
}
footer p :hover {
  color: #ff9d72;
}

/* projectTtotal */
/* main */
#projectArticle img {
  width: 100%;
}
#projectArticle article {
  width: 100%;
  padding: 20px 20px;
}

/* 
External Projects Blog
*/
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  /* Next & previous buttons */
  /* Position the "next button" to the right */
  /* On hover, add a black background color with a little bit see-through */
  /* Fading animation */
}
.slideshow-container .prev,
.slideshow-container .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #ffd66b;
  background-color: rgba(250, 250, 250, 0.7);
  font-weight: bold;
  font-size: 24px;
  transition: 0.6s ease;
  user-select: none;
  border: none;
}
.slideshow-container .next {
  right: 0;
  border-radius: 0 3px 3px 0;
}
.slideshow-container .prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}
.slideshow-container .prev:hover,
.slideshow-container .next:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: #ff9d72;
}
.slideshow-container .fade {
  display: none;
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
