/* colors: f4f4f4, orange ff9d72, yellow ffd66b, 654062*/
/* colors: background gray 444444, offwhite f4f4f4, orange ff9d72, yellow ffd66b, 654062*/
* {
  box-sizing: border-box;
}

body {
  color: #f4f4f4;
  background-color: #444444;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

/* -- Body -- */
/* Nav */
#navFlexColumn {
  display: flex;
  justify-content: space-evenly;
}

#navModal {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(180deg, #444444, rgba(68, 68, 68, 0.9), rgba(68, 68, 68, 0.8), rgba(68, 68, 68, 0));
  position: fixed;
  width: 100%;
  z-index: 2;
  top: 0;
  padding-top: 5px;
  /* The Modal (background) */
  /* Modal Content */
  /* The Close Button */
}
#navModal a {
  color: #ffd66b;
  margin-top: 5px;
  display: inline-block;
  text-decoration: none;
  font-size: 18px;
}
#navModal a:hover {
  color: #ff9d72;
}
#navModal h2 {
  letter-spacing: 1.2px;
  font-size: 28px;
  margin: 0 auto;
  font-family: "Permanent Marker", cursive;
  -webkit-text-stroke: 0.1px #000;
}
#navModal button {
  border: none;
  color: #f4f4f4;
  background-color: transparent;
}
#navModal button:hover {
  color: #ff9d72;
}
#navModal button .fas,
#navModal button .fab {
  font-size: 50px;
  background-color: transparent;
}
#navModal .modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 80px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}
#navModal .modal-content {
  background-color: rgba(0, 0, 0, 0.6);
  margin: 0 auto;
  padding: 20px 25px;
  border: none;
  width: 100%;
  text-align: justify;
}
#navModal .modal-content h2 {
  font-family: "Permanent Marker", cursive;
  color: #ffd66b;
}
#navModal .close {
  color: #ffd66b;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
#navModal .close:hover, #navModal .close:focus {
  color: #ff9d72;
  text-decoration: none;
  cursor: pointer;
}
#navModal .modal-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
#navModal .modal-content .fab,
#navModal .modal-content .fas {
  font-size: 50px;
  color: #ffd66b;
  background-color: #444444;
  padding: 5px;
  margin: 2px;
  border-radius: 5px;
}

/* Header */
#landing {
  margin: 80px 0 60px 0;
}
#landing img {
  border-radius: 100%;
  width: 200px;
  border: 3px solid #444444;
  box-shadow: 0 0 50px 3px #ffd66b;
  margin-top: 65px;
}
#landing h4 {
  font-style: italic;
  font-size: 1.5em;
  margin: 0;
}
#landing a {
  display: block;
  color: #ffd66b;
  text-decoration: none;
  font-size: 1.5em;
}
#landing a:hover {
  color: #ff9d72;
}

/* landing images projects */
#landingImages img {
  width: 100%;
}
#landingImages h4 {
  position: absolute;
  left: 0;
  right: 0;
  color: #444444;
  font-family: "Permanent Marker", cursive;
  font-size: 1.5em;
  background-color: rgba(255, 214, 107, 0.9);
  border: 1px solid rgba(255, 214, 107, 0.9);
  padding: 0 10px;
  box-shadow: 0 0 10px 3px #ffd66b;
  margin-top: 5%;
}
#landingImages div {
  padding-bottom: 50px;
}

/* Footer */
footer {
  margin: 50px 0 0 0;
}
footer p {
  font-size: 1em;
  margin: 0 0 10px 0;
}
footer p a {
  color: #ffd66b;
}
footer p a:hover {
  color: #ff9d72;
}

/* projectTtotal */
/* main */
main {
  margin: 120px 40px 0;
}

#projectArticle p {
  text-align: justify;
}
#projectArticle img {
  width: 100%;
  margin: 10px 0;
}
#projectArticle article {
  width: 100%;
  padding: 20px 20px;
}
#projectArticle article a {
  color: #ffd66b;
}
#projectArticle article a:hover {
  color: #ff9d72;
}

/* 
External Projects Blog
*/
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  /* Next & previous buttons */
  /* Position the "next button" to the right */
  /* Fading animation */
}
.slideshow-container .prev,
.slideshow-container .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #ffd66b;
  background-color: rgba(250, 250, 250, 0.7);
  font-weight: bold;
  font-size: 24px;
  transition: 0.6s ease;
  user-select: none;
  border: none;
}
.slideshow-container .next {
  right: 0;
  border-radius: 0 3px 3px 0;
}
.slideshow-container .next:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: #ff9d72;
}
.slideshow-container .prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}
.slideshow-container .prev:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: #ff9d72;
}
.slideshow-container .fade {
  display: none;
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@media screen and (min-width: 400px) {
  #navModal {
    background-image: none;
    /* The Modal (background) */
    /* The Close Button */
  }
  #navModal a {
    font-size: 1em;
  }
  #navModal p {
    font-size: 2em;
  }
  #navModal h2 {
    letter-spacing: 1.2px;
    font-size: 3em;
  }
  #navModal button .fas,
#navModal button .fab {
    font-size: 80px;
  }
  #navModal #navFlexColumn .icon1 {
    margin: 5px 0 0 5px;
    position: fixed;
    left: 0;
    top: 0;
  }
  #navModal #navFlexColumn .icon1 .myBtn {
    color: #000000;
  }
  #navModal #navFlexColumn .icon2 {
    margin: 5px 5px 0 0;
    position: fixed;
    right: 0;
    top: 0;
  }
  #navModal #navFlexColumn .icon2 .myBtn {
    color: #000;
  }
  #navModal #navFlexColumn .icon3 {
    margin: 0 5px 5px 0;
    position: fixed;
    right: 0;
    bottom: 0;
  }
  #navModal #navFlexColumn .icon3 .myBtn {
    color: #000;
  }
  #navModal #navFlexColumn .icon4 {
    margin: 0 0 5px 5px;
    position: fixed;
    left: 0;
    bottom: 0;
  }
  #navModal #navFlexColumn .icon4 .myBtn {
    color: #000;
  }
  #navModal .modal {
    padding-top: 100px;
    /* Location of the box */
  }
  #navModal .close {
    font-size: 50px;
  }
  #navModal .modal-content .fab,
#navModal .modal-content .fas {
    font-size: 80px;
    padding: 10px;
    margin: 4px;
  }

  #landing img {
    width: 350px;
  }
  #landing h4 {
    font-size: 3em;
  }
  #landing a {
    font-size: 3em;
  }

  #landingImages img {
    width: 90%;
  }
  #landingImages h4 {
    display: block;
    margin: 0 auto;
    font-size: 3em;
    width: 80%;
    margin-top: 5%;
  }
  #landingImages div {
    padding-bottom: 50px;
  }

  footer {
    width: 65%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 800px) {
  #navModal {
    background-image: none;
    /* The Modal (background) */
    /* The Close Button */
  }
  #navModal a {
    font-size: 1em;
  }
  #navModal p {
    font-size: 2em;
  }
  #navModal h2 {
    letter-spacing: 1.2px;
    font-size: 3em;
  }
  #navModal button .fas,
#navModal button .fab {
    font-size: 80px;
  }
  #navModal #navFlexColumn .icon1 {
    margin: 5px 0 0 5px;
    position: fixed;
    left: 0;
    top: 0;
  }
  #navModal #navFlexColumn .icon1 .myBtn {
    color: #000000;
  }
  #navModal #navFlexColumn .icon2 {
    margin: 5px 5px 0 0;
    position: fixed;
    right: 0;
    top: 0;
  }
  #navModal #navFlexColumn .icon2 .myBtn {
    color: #000;
  }
  #navModal #navFlexColumn .icon3 {
    margin: 0 5px 5px 0;
    position: fixed;
    right: 0;
    bottom: 0;
  }
  #navModal #navFlexColumn .icon3 .myBtn {
    color: #000;
  }
  #navModal #navFlexColumn .icon4 {
    margin: 0 0 5px 5px;
    position: fixed;
    left: 0;
    bottom: 0;
  }
  #navModal #navFlexColumn .icon4 .myBtn {
    color: #000;
  }
  #navModal .modal {
    padding-top: 100px;
    /* Location of the box */
  }
  #navModal .close {
    font-size: 50px;
  }
  #navModal .modal-content .fab,
#navModal .modal-content .fas {
    font-size: 80px;
    padding: 10px;
    margin: 4px;
  }

  #landing img {
    width: 300px;
  }
  #landing h4 {
    font-size: 2em;
  }
  #landing a {
    font-size: 2.5em;
  }

  #landingImages {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 40px;
  }
  #landingImages div {
    display: flex;
    justify-content: center;
    position: relative;
  }
  #landingImages div img {
    width: 400px;
  }
  #landingImages div h4 {
    font-size: 2em;
    width: 80%;
    margin-top: 5%;
  }
}

/*# sourceMappingURL=style.css.map */
