/* colors: f4f4f4, orange ff9d72, yellow ffd66b, 654062*/

* {
  box-sizing: border-box;
  // border: 1px solid pink;
}

body {
  color: #f4f4f4;
  background-color: #444444;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

/* Header */

#landing {
  margin-bottom: 60px;

  img {
    border-radius: 100%;
    width: 200px;
    border: 3px solid #444444;
    box-shadow: 0 0 50px 3px #ffd66b;
    margin-top: 35px;
  }
  h2 {
    letter-spacing: 1.5px;
    font-size: 24px;
    margin-bottom: 0;
  }
  h4 {
    font-style: italic;
    font-size: 24px;
    margin: 0;
  }
  a {
    display: block;
    color: #ffd66b;
    text-decoration: none;
    font-size: 30px;
  }
  a:hover {
    color: #ff9d72;
  }
}

/* Body */
/* landing images projects */

#landingImages {
  h4 {
    position: absolute;
    left: 0;
    right: 0;
    color: #444444;
    background-color: rgba(250, 250, 250, 0.9);
    border: none;
    padding: 5px 10px;
    box-shadow: 0 0 10px 3px #ffd66b;
  }
  img {
    width: 100%;
  }
  div {
    padding-bottom: 50px;
  }
}

/* 
Nav 
*/

#navModal {
  background-color: transparent;

  a {
    color: #ffd66b;
    margin-top: 20px;
  }
  a:hover {
    color: #ff9d72;
  }

  button {
    :hover {
      color: #ffd66b;
    }
    border: none;
    color: #f4f4f4;
    background-color: transparent;
    .fas,
    .fab {
      font-size: 50px;
      background-color: transparent;
    }
  }

  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: absolute; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 80px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  }

  /* Modal Content */
  .modal-content {
    background-color: rgba(0, 0, 0, 0.6);
    margin: 0 auto;
    padding: 20px 25px;
    border: none;
    width: 100%;
    h2,
    p {
      text-align: justify;
    }
  }

  /* The Close Button */
  .close {
    color: #ffd66b;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  .close:hover,
  .close:focus {
    color: #ff9d72;
    text-decoration: none;
    cursor: pointer;
  }

  .modal-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    .fab,
    .fas {
      font-size: 50px;
      color: #ffd66b;
      background-color: #444444;
      padding: 5px;
      margin: 2px;
      border-radius: 5px;
    }
  }
}

/* 
Footer 
*/
footer {
  margin: 50px 0 0 0;
  p {
    font-size: 1em;
    margin: 0 0 10px 0;
    a {
      color: #f4f4f4;
    }
    :hover {
      color: #ff9d72;
    }
  }
}

/* projectTtotal */
/* main */

#projectArticle {
  img {
    width: 100%;
  }
  article {
    width: 100%;
    padding: 20px 20px;
  }
}

/* 
External Projects Blog
*/
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;

  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #ffd66b;
    background-color: rgba(250, 250, 250, 0.7);
    font-weight: bold;
    font-size: 24px;
    transition: 0.6s ease;
    user-select: none;
    border: none;
  }

  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 0 3px 3px 0;
  }

  .prev {
    left: 0;
    border-radius: 3px 0 0 3px;
  }

  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: #ff9d72;
  }

  /* Fading animation */
  .fade {
    display: none;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @-webkit-keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }
}
